<h1>Password Reset Instructions</h1>

<p>Hi <%= @user.name || @user.email %>,</p>

<p>Someone requested a password reset for your news.jace.pro account. If this was you, click the link below to reset your password:</p>

<p><%= link_to "Reset my password", "https://news.jace.pro/reset-password?token=#{@user.reset_token}" %></p>

<p>This link will expire in 2 hours.</p>

<p>If you didn't request this, please ignore this email. Your password will remain unchanged.</p>

<p>Best regards,<br>The news.jace.pro team</p>
