<% content_for :title, "Edit User - Admin" %>

<div class="mb-6">
  <h1 class="text-2xl font-bold text-gray-900">Edit User</h1>
  <p class="text-gray-600"><%= @user.email %></p>
</div>

<%= render "form", user: @user %>
